body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: white;
}
#body{
  padding-top: 70px;
}

circle {fill:orange;stroke:orange;fill-opacity:0.5;}

#my-map{
    margin-top: 0;
    margin-left: 0;
    float: right;
    width: 100%;
    height: 400px;
    padding: 5px;
}
* {
    box-sizing: border-box;
}

#header{
    color: black;
}
.legend {
    color: white;
    background-color: grey;
    opacity: .85;
    padding:10px;
    width: 150px;
}
.legend i {
    width: 18px;
    margin-right: 8px;
    float: right;
}

.navbar-fixed-top {

position: fixed;

right: 0;

left: 0;

z-index: 999;

}
